@model CarDealershipManager.Models.Dtos.ForgotPasswordDto

@{
    ViewData["Title"] = "Przypomnienie hasła";
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6 col-lg-4">
            <h3 class="text-center mb-4">Przypomnij hasło</h3>
            
            @if (ViewBag.SuccessMessage != null)
            {
                <div class="alert alert-success text-center">
                    @ViewBag.SuccessMessage
                </div>
            }

            <div class="card shadow-sm">
                <div class="card-body">
                    <form asp-controller="Admin" asp-action="ForgotPassword" method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>

                        <div class="mb-3">
                            <label asp-for="Email" class="form-label">Adres e-mail</label>
                            <input asp-for="Email" class="form-control" placeholder="Wpisz e-mail" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>

                        <div class="d-grid mt-4">
                            <button type="submit" class="btn btn-primary">Wyślij nowe hasło</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="text-center mt-3">
                <a asp-controller="Admin" asp-action="Login" class="text-decoration-none">Wróć do logowania</a>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
