@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Witaj w komisie samochodów</h1>
    <p>Szukasz używanego samochodu? Sprawdź naszą ofertę!</p>
    <p>
        <a href="@Url.Action("Cars", "Home")" class="btn btn-primary btn-lg">Zobacz nasze samochody</a>
    </p>
</div>
